*{
    margin: 0;
    background-color: rgb(224, 224, 224);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #727171;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black
}

h1, table{
    background-color: #727171;
    color: rgb(224,224,224);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px rgb(65, 63, 63);
}

td{
    height: 150px;
    width: 150px;
}

table{
    text-align: center;
}


tbody{
    border: 3px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    border: solid 2px black;
}
img:hover{
    opacity: 30%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#a1{
    background-color: #6369D1;
    color: white;
}
.a1{
    background-color: #3EC300;
}
#a2{
    background-color: #60E1E0;
    color: rgb(219, 219, 219);
}
#a3{
    background-color: #D8D2E1;
    color: rgb(133, 133, 134);
}
.a3{
    background-color: red;
}
#a4{
    background-color: #B88E8D;
    color: rgb(197, 197, 197);}



#b1{
    background-color: #337CA0;
    color: blue;
}
.b1{
    background-color: #391875;
}
#b2{
    background-color: #8c00c3;

}
#b3{
    background-color: #FFFC31;
    color: blue;
}
.b3{
    background-color: #c8cac7;
}
#b4{
    background-color: #FF1D15;
  }


#c1{
    background-color: #FAA275;
    color: blue;
}
.c1{
    background-color: #163f03;
}
#c2{
    background-color: #FF8C61;
}
#c3{
    background-color: #CE6A85;
    color: blue;
}
.c3{
    background-color: #0d00c3;
}
#c4{
    background-color: #985277;
}



#d1{
    background-color: #F4E76E;
    color: blue;
}
.d1{
    background-color: #c3002a;
}
#d2{
    background-color: #F7FE72;
}
#d3{
    background-color: #8FF7A7;
    color: blue;
}
.d3{
    background-color: #c3b600;
}
#d4{
    background-color: #51BBFE;
}



.footer{
    color: rgb(224, 224, 224);
    background-color: #727171;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: solid 1px black;
}
.footer p{
    background-color: #727171;
    display: flex;
    justify-content: center;
    align-items: center;
}